<p>
  <strong>Ticket name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<a href = "/ads/">Go back to index page</a><br />
<a href = "/ads/new">Click to add another data</a>
